@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-size: 1.3em;
    font-weight: 300;
}

header {
    padding: 1em 6em;
    background-color: #18548f;
    box-shadow: 2px 2px 5px #00000072;
    color: #f2f2f2;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
}

h2 {
    font-weight: 700;
}

main {
    padding: 3em 6em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1em;
}

.svg {
    border: #18548f 2px solid;
    padding: 1em;  
    border-radius: 0.5em;
}

input, select {
    border-radius: 0.2em;
    border: #c2c2c2 solid 1px;
    padding: 0.5em;
    outline: none;
    transition: all 0.2s ease-in-out;
}

input:focus, select:focus {
    background-color: #18548f23
}

.btn {
    font-size: 0.8em;
    border-radius: 0.2em;
    background-color: #18548f;
    color: #f2f2f2f2;
    border: 1px solid #18548f;
    padding: 0.5em 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
    .btn:hover, .save-btn:hover {
        background-color: #18548f45;
        color: #18548f;
    }

.generated {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#spinner {
    display: none;
}   

#qrcode {
    margin: 3em 0;

}

    @keyframes spinner {
        0% {
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
          transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
      }
      .spin::before {
        animation: 1.5s linear infinite spinner;
        animation-play-state: inherit;
        border: solid 8px #c2c2c2;
        border-bottom-color: #18548f;
        border-radius: 50%;
        content: "";
        height: 100px;
        width: 100px;
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
      }

.save-btn {
    text-align: center;
    text-decoration: none;
    background-color: #18548f;
    color: #f2f2f2;
    border: 1px solid #18548f;
    padding: 0.25em 0.8em;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.2em;
}











@media screen and (max-width: 992px) {    
    body {
        font-size: 1em;
    }
    
    header {
        padding: 1em 2em;
    }
    
    h1 {
        font-size: 1.4em;
    }
    
    main {
        padding: 3em 2em; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: stretch;
    }
    
    .content-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        gap: 1.2em;
    }
    
    .img-flex {
        text-align: center;
    }

    .svg {
        width: 200px;
        height: 200px;
        margin-bottom: 2em;
    }
    
    input, select {
        padding: 1em;
        font-size: 1em;
    }
        
    .btn {
        font-size: 1em;
        padding: 0.75em 0;
    }
    
    #generated, #qrcode {
        padding: 0 2em;
        text-align: center;
    }

    #spinner {
        display: none;
        text-align: center;
    }   
    
    #qrcode {
        margin: 5em 0;
        text-align: center;
    }
    
        @keyframes spinner {
            0% {
              transform: translate3d(-50%, -50%, 0) rotate(0deg);
            }
            100% {
              transform: translate3d(-50%, -50%, 0) rotate(360deg);
            }
          }
          .spin::before {
            animation: 1.5s linear infinite spinner;
            animation-play-state: inherit;
            border: solid 8px #c2c2c2;
            border-bottom-color: #18548f;
            border-radius: 50%;
            content: "";
            height: 100px;
            width: 100px;
            position: absolute;
            top: 115%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            will-change: transform;
          }
/* 
          .sr-only {
            margin-bottom: -10em;
          } */
    
    .save-btn {
        padding: 0.5em 1em;
        width: 83%;
        margin: auto;
    }
}

